<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory Management</title>
	</head>
	<body>
		<h1>The Rent-all shop</h1>
		<h2><%= variableName %></h2>
		<ul>
			<% ourStuff.forEach(ele => {%>
			<li><%= ele %></li>
			<% }) %>
		</ul>
	</body>
</html>
