table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
/* Button styles */
.rent-button {
	background-color: green;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.rented-button {
	background-color: red;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: not-allowed; /* Disables the cursor */
}
